article {
  /* background-color: brown; */
  display: flex;
  padding-top: 75px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

h1 {
  margin-left: 40px;
  font-size: 4em;
  font-weight: bolder;
  text-decoration: underline;
  color: #25b16e;
}

p {
  border-style: dashed;
  text-align: justify;
  font-size: xx-large;
  margin: 40px;
}

@media (max-width: 925px) {
  article {
    align-items: center;
  }
}
