article {
  /* background-color: brown; */
  display: flex;
  /* padding-top: 75px; */
  width: 100%;
  /* height: 100%; */
  flex-direction: column;
}

main {
  /* display: flex;
  width: 100%; */
  height: 100%;
  flex-direction: column;
}

h1 {
  margin-left: 20px;
  font-size: 3.5em;
  font-weight: bolder;
  text-decoration: underline;
  color: #25b16e;
}

h2 {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  color: #25b16e;
}

h3 {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}

p {
  text-align: justify;
  font-size: xx-large;
  margin: 0px 40px 20px 40px;
}

.Wireframe {
  margin: 0px 20px 20px 20px;
  border-style: solid;
  width: 60%;
  height: auto;
}

.SquarePic {
  display: flex;
  flex-direction: row;
  
}

.BigPic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clr_pal {
  width: 20%;
  border-style: solid;
  margin-left: 20px;
}

#font_ch {
  width: 60%;
  border-style: solid;
}

@media (max-width: 925px) {
  article {
    align-items: center;
  }

  section {
    align-items: center;
  }

  h1 {
    margin: 30px;
  }
}
