main {
  /* background-color: brown; */
  display: flex;
  /* padding-top: 45px; */
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.controller {
  background-color: #bc1c59;
  color: white;
  border-color: black;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
}

button {
  border-color: black;
  border-radius: 10px;
  width: 35px;
  height: 35px;
}

#log_tracker {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 50px;
}

article {
  /* width: 100%; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  padding: 20px 0;
  border-style: solid;
}

h1 {
  margin-left: 40px;
  font-size: 4em;
  font-weight: bolder;
  text-decoration: underline;
  color: #25b16e;
}

#week1 {
  height: 70vh;
  overflow: auto;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Para {
  /* backdrop-filter: blur(4px); */
  width: auto;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0px 30px;
  /* width: 25%; */
  font-size: 2em;
  font-weight: bold;
  color: #25b16e;
  font-style: italic;
  text-align: center;
}

p {
  font-size: 25px;
  margin: 0%;
  text-align: justify;
  padding: 0 40px 40px 40px;
}

h3 {
  font-size: 30px;
  color: #25b16e;
  text-decoration: underline;
  padding: 0 40px 20px 40px;
  margin: 0;
}

@media (max-width: 925px) {
  main {
    align-items: center;
  }

  .controller {
    width: 97%;
  }

  h1 {
    margin: 30px;
  }
}
