main {
  flex-direction: column;
}

section {
  /* background-color: brown; */
  display: flex;
  /* padding-top: 75px; */
  width: 100%;
  /* height: 92vh; */
  flex-direction: column;
}

.Menu {
  overflow: hidden;
  background-color: gray;
  padding: 12px 0px;
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.MenuBtn {
  background-color: bisque;
  font-weight: bolder;
  color: black;
  min-width: 7rem;
  border-radius: 25px;
}

#btn1 {
  background-color: #e6226d;
  color: white;
}

h1 {
  margin-left: 40px;
  font-size: 3.5em;
  font-weight: bolder;
  text-decoration: underline;
  color: #25b16e;
}

h2 {
  margin-top: 5px;
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bolder;
  text-decoration: underline;
  color: #e6226d;
}

#textBox {
  width: 95%;
  overflow-y: scroll;
  padding: 20px;
  height: 70vh;
  border-style: solid;
  text-align: justify;
  margin: 0px 20px 0px 20px;
}

p {
  font-size: xx-large;
  margin-top: 5px;
  margin-bottom: 1em;
}

ol {
  padding-left: 60px;
  font-size: xx-large;
  margin-top: 5px;
  margin-bottom: 1em;
}

.Italics {
}

.Underline {
  font-style: normal;
  text-decoration: underline;
}

.References p {
  word-break: break-all;
  height: auto;
  overflow: hidden;
  border-style: none;
}

@media (max-width: 925px) {
  section {
    align-items: center;
  }

  #textBox {
    width: 80vw;
  }

  h1 {
    font-size: 2em;
    margin: 30px;
  }

  ul {
    width: 90%;
  }

  ul li {
    margin-right: 15px;
  }

  ol li {
    font-size: x-large;
  }

  p {
    font-size: x-large;
  }
}
